@import '../../../../styles.scss';

.table-header {
    //background-color: $color_main_black;
    border-radius: 5vh;
}

.mat-mdc-header-cell {
    color: black;
    font-size: 1.8vh;
}

.mat-mdc-row .mat-mdc-cell {
    cursor: pointer;
}

.mat-mdc-row:hover .mat-mdc-cell {
    // background-color: $color_main_orange_secondary;
    // color: $color_main_white;
    // font-weight: bold;
}

.selected .mat-mdc-cell {
    background-color: #F8F8F8;
    // font-weight: 5vh;
    color: $color_main_black;
    // font-weight: bold;

}