<mat-toolbar>
    <img src="../../../../assets/Logo_WHITE.png" alt="Restaurant - Helper" class="rh-navbar-logo">

    <div class="rh-header-options">
        <a [routerLink]="['users']" class="hr-navbar-button">
            <mat-icon>person</mat-icon>
            <span>Usuarios</span>
        </a>
    </div>
    <span class="rh-header-options">
        <a [routerLink]="['clients']" class="hr-navbar-button">
            <mat-icon>emoji_people</mat-icon>
            <span>Clientes</span>
        </a>
    </span>
    <span class="rh-header-options">
        <a [routerLink]="['providers']" class="hr-navbar-button">
            <mat-icon>local_shipping</mat-icon>
            <span>Proveedores</span>
        </a>
    </span>
    <span class="rh-header-options">
        <a [routerLink]="['ingredients']" class="hr-navbar-button">
            <mat-icon>microwave_gen</mat-icon>
            <span>Ingredientes</span>
        </a>
    </span>
    <span class="rh-header-options">
        <a [routerLink]="['products']" class="hr-navbar-button">
            <mat-icon>dinner_dining</mat-icon>
            <span>Productos</span>
        </a>
    </span>
    <span class="rh-navbar-right-section"></span>
    <button color="warn" [matMenuTriggerFor]="menu">
        <mat-icon>menu</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
        <button mat-menu-item>
            <mat-icon>settings</mat-icon>
            <span>Configuracion</span>
        </button>
        <button (click)="fnLogout()" mat-menu-item>
            <mat-icon>logout</mat-icon>
            <span>Cerrar Sesion</span>
        </button>
    </mat-menu>

</mat-toolbar>