.example-spacer {
  flex: 1 1 auto;
}

.toolbar-first-row {
  background-color: #03045e;
  color: white;
}

.toolbar-second-row {
  background-color: #CAF0F8;
  color: white;
}

.app-title {
  margin-right: 50px;
}

.toolbar-button {
  height: 100%;
  width: 75px;
  border: none;
  background-color: #03045e;
  color: #fff;
}

.is-active {
  background-color: #CAF0F8;
  color: #03045e;
}

.toolbar-button:hover {
  background-color: #CAF0F8;
  color: #03045e;
}

img {
  height: 55px;
  margin-top: 1.2vh;
}